{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    {% block fos_user_content %}
        <div class="content">
            <div class="workplace">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-3">
                                <div class="page-header">
                                    <h1>{{ 'title.change_password'|trans }}</h1>
                                </div>
                                <div class="head clearfix">
                                    <div class="isw-chats"></div>
                                    <h1>{{ 'title.claim_credentials'|trans }}</h1>
                                </div>
                                <div class="block-fluid">
                                    {{ form_start(form, {'action': path('fos_user_change_password'), 'method': 'POST', 'attr': {'class': 'form-horizontal fos_user_change_password'}}) }}
                                    {{ form_errors(form) }}
                                    <div class="row-form clearfix">
                                        <div class="col-md-3">
                                            {{ form_label(form.current_password, null) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                                            {% if form.current_password.vars.errors[0].message is defined %}
                                                <span class="help-block">
                                                    {{ form.current_password.vars.errors[0].message }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row-form clearfix">
                                        <div class="col-md-3">
                                            {{ form_label(form.plainPassword.first, null) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                            {% if form.plainPassword.first.vars.errors[0].message is defined %}
                                                <span class="help-block">
                                                    {{ form.plainPassword.first.vars.errors[0].message }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row-form clearfix">
                                        <div class="col-md-3">
                                            {{ form_label(form.plainPassword.second, null) }}
                                        </div>
                                        <div class="col-md-9">
                                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                            {% if form.plainPassword.second.vars.errors[0].message is defined %}
                                                <span class="help-block">
                                                    {{ form.plainPassword.second.vars.errors[0].message }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'change_password.submit'|trans }}">
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}